body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* HEADER */

.header-container {
  display: flex;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .header-container {
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 149px;
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-header {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 40px;
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .menu {
    gap: 40px;
  }
}

.menu-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-link-active {
  color: #404bbf;
  position: relative;
}

.menu-link-active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
  height: 4px;
}

.address {
  display: none;
}

@media screen and (min-width: 768px) {
  .address {
    display: flex;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

.adress-item {
  padding: 0;
}

.address-link {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.button-menu {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

/* HERO */

.main-section {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-tab.jpg);
    max-width: 768px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero.jpg);
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .main-section {
    padding: 188px 0;
  }
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 216px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}

.button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/* ADVANTAGES */

.list-advantages {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .list-advantages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .list-advantages {
    justify-content: space-between;
    flex-direction: row;
    width: 264px;
    gap: 24px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .item-advantages {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.container-advantages-icon {
  display: none;
}

@media screen and (min-width: 1158px) {
  .container-advantages-icon {
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title-advantages {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  max-width: 264px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1158px) {
  .title-advantages {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }
}

.paragraph-advantages {
  font-weight: 500;
  letter-spacing: 0.02em;
  width: 100%;
}

@media screen and (min-width: 1158px) {
  .paragraph-advantages {
    font-weight: 400;
    width: 264px;
  }
}

/* TEAM */

.section-team {
  background: #f4f4fd;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-team {
    padding-left: 108px;
    padding-right: 108px;
  }
}

.title-team {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    justify-content: space-between;
  }
}

.title-team-cards {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-cards {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

@media screen and (min-width: 768px) {
  .team-cards {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-cards {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.paragraph-team {
  text-align: center;
  letter-spacing: 0.02em;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-link {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}

/* PORTFOLIO */

.title-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolo-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolo-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolo-list {
    justify-content: space-between;
  }
}

.item-portfolio {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .item-portfolio {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .item-portfolio {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.item-portfolio:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.item-portfolio:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolo-container-image {
  overflow: hidden;
  position: relative;
}

.portfolio-container-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover .portfolio-container-paragraph {
  transform: translateY(0%);
}

.container-work {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-works {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph-works {
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    gap: 0;
  }
}

.footer-container-logo {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container-logo {
    margin-right: 120px;

    max-width: 264px;
  }
}

.footer-social-container {
  gap: 72px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-social-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-container {
    margin-left: 0;
  }
}

.footer-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-webstudio {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.paragraph-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 1158px) {
  .paragraph-footer {
    width: 264px;
  }
}

.footer-social {
  text-align: center;
  margin: 0 auto;
}

.paragraph-footer-social {
  color: #fff;
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.icon-list-footer {
  display: flex;
  gap: 16px;
}

.icon-link-footer {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover {
  background-color: #31d0aa;
}

.icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-icon-footer {
  fill: #f4f4fd;
}

.footer-sbscrb {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-sbscrb {
    margin-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-sbscrb {
    margin-left: 80px;
  }
}

.sbscrb-paragraph {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sbscrb-paragraph {
    text-align: start;
  }
}

.sbscrb-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .sbscrb-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .sbscrb-form {
    gap: 24px;
  }
}

.sbscrb-input {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 288px;
}

.sbscrb-input::placeholder {
  color: #fff;
}

.sbscrb-button {
  height: 40px;
  min-width: 165px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 169px;
  align-self: center;
}

.sbscrb-button:hover,
.sbscrb-button:focus {
  background-color: rgba(64, 75, 191, 1);
}

.sbscrb-icon {
  fill: #fff;
  margin-left: 16px;
}

.backdrop {
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-button-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: rgba(64, 75, 191, 1);
  fill: rgba(255, 255, 255, 1);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  flex-direction: column;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-label-checkbox {
  align-items: center;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input {
  display: flex;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  resize: none;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus+.modal-input-icon {
  fill: rgba(77, 90, 229, 1);
}

.modal-input-container {
  position: relative;
  margin-bottom: 8px;
}

.modal-input-icon {
  position: absolute;
  fill: rgba(46, 47, 66, 1);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  min-height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  padding: 8px 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-bottom {
  margin-bottom: 0;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox:checked+.modal-label .modal-checkbox-span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-checkbox:focus+.modal-label .modal-checkbox-span {
  border-color: #4d5ae5;
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  display: inline-flex;
}

.modal-span {
  color: #4d5ae5;
  text-decoration-line: underline;
  margin-bottom: 0;
  margin-top: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-span:hover,
.modal-span:focus {
  color: #404bbf;
}

.modal-checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  border: none;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  max-width: 169px;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu-button {
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px;
  border-color: rgba(46, 47, 66, 1);
}

.mobile-list {
  padding-top: 72px;
  padding-left: 16px;
  position: absolute;
  top: 72px;
}

.mobile-item {
  margin-bottom: 168px;
}

.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-link {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  position: absolute;
  bottom: 128px;
}

.mobile-address {
  padding-left: 16px;
}

.address-link-mob {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.active {
  color: #404bbf;
}

.icon-list-mobile {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 24px;
  position: absolute;
  bottom: 40px;
}

.icon-link-mobile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-mobile:hover {
  background-color: #404bbf;
}

.icon-link-mobile:focus {
  background-color: #404bbf;
}

.icon-icon-mobile {
  fill: #f4f4fd;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}